@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

:root {
  --icon-search: url("./assets/search-black.svg");
  --icon-theme: url("./assets/sun-black.svg");
  --icon-edit: url("./assets/pencil-black.svg");
  --icon-back: url("./assets/back-black.svg");
  --icon-plus: url("./assets/plus-black.svg");
}

@include color-mode(dark) {
  --icon-search: url("./assets/search-white.svg");
  --icon-theme: url("./assets/moon-white.svg");
  --icon-edit: url("./assets/pencil-white.svg");
  --icon-back: url("./assets/back-white.svg");
  --icon-plus: url("./assets/plus-white.svg");
}

.icon-theme {
  background: var(--icon-theme) no-repeat;
}

.icon-search {
  background: var(--icon-search) no-repeat;
}

.icon-edit {
  background: var(--icon-edit) no-repeat;
}

.icon-back {
  background: var(--icon-back) no-repeat;
}

.icon-plus {
  background: var(--icon-plus) no-repeat;
}

.header {
  margin: 1rem 0;
  display: grid;
}

.header .row:first-child {
  min-height: 3rem;
}

.col {
  place-self: center;
}

.col:last-child {
  text-align: right;
}

.btn {
  height: 25px;
  width: 25px;
  border: none;
  padding: 0;
}

.note {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

app-note:nth-child(5n + 1) .note {
  background-color: #BAE1FF;
}

app-note:nth-child(5n + 2) .note {
  background-color: #BAFFC9;
}

app-note:nth-child(5n + 3) .note {
  background-color: #FFFFBA;
}

app-note:nth-child(5n + 4) .note {
  background-color: #FFDCF4;
}

app-note:nth-child(5n + 5) .note {
  background-color: #FFADAD;
}

.note-title {
  color: black;
}

.form-control__minimal {
  border: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.form-control__minimal:focus {
  box-shadow: none;
}

.header .btn {
  margin-left: 1rem;
}

.header .btn.icon-back {
  margin-left: 0;
}

textarea {
  height: calc(100vh - 10rem);
}

input.form-control__minimal {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 1.2;
  font-weight: 500;
}

.search-form {
  margin-top: 1rem;
}
